body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #333 !important;
  margin: 0;
  padding: 0; }
  body #grid_wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
    body #grid_wrapper .grid_column {
      border-left: 1px solid #555;
      border-right: 1px solid #555; }
      body #grid_wrapper .grid_column .feed_add_icon {
        font-size: 56px;
        color: #2db82d;
        transition: all ease-in-out 0.2s;
        cursor: pointer; }
        body #grid_wrapper .grid_column .feed_add_icon:hover {
          color: lime; }

.center_all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
